.scheduleWrapper {
  padding: 1rem;

  h3 {
    font-size: 2rem;
  }

  ::before {
    content: "";
    display: block;
    height: 6rem; /* fixed header height*/
    margin: -6rem 0 0; /* negative fixed header height */
  }
}

.card {
  padding: 1rem;
  border: 2px solid #343434;
  border-radius: 0.5rem;

  + .card {
    margin-top: 0.5rem;
  }
}
