.scheduleWrapper {
  padding: 1rem;

  h3 {
    font-size: 2rem;
  }

  ::before {
    content: "";
    display: block;
    height: 6rem; /* fixed header height*/
    margin: -6rem 0 0; /* negative fixed header height */
  }
}
