.scheduleWrapper {
  padding: 5rem 1rem;
  position: relative;

  h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .anchor {
    position: absolute;
    top: -4.9rem;
  }

  .eventsWrapper {
    height: 35rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px #ffffff35, -4px -4px 3px #0002;

    &::-webkit-scrollbar {
      width: 18px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ff0f43;
      border-right: 12px transparent solid;
      background-clip: padding-box;
      border-radius: 0.5rem;
    }
  }
}
