.listCardWrapper {
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #0005;
  display: flex;
  justify-content: space-between;
  align-items: center;

  + .listCardWrapper {
    margin-top: 1rem;
  }

  .eventInfo {
    display: flex;
    align-items: center;
    gap: 2rem;

    .title {
      font-size: 1.6rem;
      font-weight: 800;
    }
  }

  .speakers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .speaker {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .avatar {
        width: 5rem;
        border-radius: 50%;
        box-shadow: 0 5px 10px #0005;
      }

      .socials {
        display: flex;
        gap: 0.5rem;
      }

      .link {
        color: #ff0f43;
      }
    }
  }
}

.timeWrapper {
  margin: 0;

  .date {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .time {
    font-size: 2.25rem;
    font-weight: 700;
  }
}

.empty {
  background: #131316;
  color: white;
}
