.listCardWrapper {
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #0005;
  display: flex;
  justify-content: space-between;
  align-items: center;

  + .listCardWrapper {
    margin-top: 1rem;
  }

  .eventInfo {
    display: flex;
    align-items: center;
    gap: 2rem;

    .title {
      font-size: 1.6rem;
      font-weight: 800;
    }
  }

  .speakers {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 5rem;
      border-radius: 50%;
      box-shadow: 0 5px 10px #0005;
    }
  }
}

.timeWrapper {
  margin: 0;

  .date {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .time {
    font-size: 2.25rem;
    font-weight: 700;
  }
}
